.link {
    margin-bottom: 1rem;
    display: flex;
    color: var(--blue-main);
    font-weight: bold;
    gap: 0.25rem;
    display: flex;
    align-items: center;

}
.titleSection {
    margin-top: 5rem;
    margin-left: 5.5rem;
    margin-right: 5.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}