.navBar {
    background-color: var(--platinum2); 
}

.navLink  {
    color: #000000 !important;
}

.modal {
    height: 100%;
    width: 100%;
}

.login {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    p {
        margin: 0;
    }

}

